<VirtualHost *:80>
    ServerName {{ ansible_fqdn }}
    # Or whatever you want to use
    ServerAlias {{ ansible_fqdn }}
    # Make this the same as ServerName
    DocumentRoot "/var/www/html/public"
    <Directory "/var/www/html/public">
        Require all granted 
        # Used by Apache 2.4
        Options Indexes FollowSymLinks
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>
